@import '../../../styles/_utilities.scss';

.column-title {
    $line-height: $column-title-line-height;
    $padding: $column-title-vertical-padding;

    .title {
        line-height: $line-height;
        padding: 0 $padding;
        text-transform: uppercase;

        font-family: $family-black;
        font-weight: $weight-bold;
    }

    @include tablet() {
        &::after {
            content: "";
            display: block;
            margin: (-$line-height) 0 0;
            width: 100%;
            padding-top: 100%;
            border: solid $title-color $column-title-border-width;
        }
    }
}
