@import '../styles/_base.scss';

.cursive {
    font-family: $family-cursive;
}
.logo {
    height: $navbar-height;
}
.title {
    @include font-title();
    font-family: $family-title;
}
.navbar-item {
    @include font-title();
    text-transform: uppercase;
}

.section.social-buttons {
    position: fixed;
    width: 100%;
    top: $navbar-height;
    right: -3rem; // large icon width
    text-align: right;
    padding-top: 0;
    opacity: 0.5;
    transition: opacity ease 0.1;

    &:hover {
        opacity: 0.9;
    }
}
.social-button {
    display: block;
}

.hero-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    @include tablet() {
        left: -20%;
        opacity: 1;
    }
}
