@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Poiret+One|Work+Sans:900');

@import '../~_variables.sass';
@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';

@mixin font-title {
    font-family: $family-title;
    font-weight: 900;
}

.cursive {
    font-family: $family-cursive;
}
.logo {
    height: $navbar-height;
}
.title {
    @include font-title();
    font-family: $family-title;
}
.navbar-item {
    @include font-title();
    text-transform: uppercase;
}
.social-buttons {
    position: fixed;
    right: 0;
    top: $navbar-height;

}
.hero-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    @include tablet() {
        left: -20%;
        opacity: 1;
    }
}
